@import "~css-star-rating/css/star-rating.min.css";
body {
    background-color: #090e21;
    margin: 20px;
}

.star-container {
    margin: 0px !important;
}

.rating {
    margin: 0px !important;
}
